body {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#board {
  position: relative;
  width: 360px;
  height: 360px;
  border: 1px solid silver;
  padding: -2px 0 0 -2px;
  box-shadow: 1px 1px 3px 3px silver;
  overflow: hidden;
}

.block {
  position: absolute;
  display: grid;
  width: 117px;
  height: 117px;
  border: 1px transparent solid;
  user-select: none;
  
  /* Font style */
  line-height: 110px;
  font-size: 55px;
  text-align: center;
  
  /* Animation for eyecandy*/
  transition: top ease-out .3s, left ease-out .3s;
}

.block:not(#b-0) {
  /* Dimension and outer style */
  background-color: white;
  border-color: goldenrod;
  margin: 1px 0 0 1px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px #CCC; 
  border-radius: 3px;  
}

#b-0 {
  color: transparent;  
}